.st-container {
  width: 100%;
  display: flex;
  left: 50%;
  top: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 30px;
  z-index: 999;
}

.st-container__standby-button.is-selected {
  z-index: 999;
}

.st-container__standby-button {
  width: 70px;
  height: 70px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.st-container__standby-button span {
  width: 35px;
  height: 35px;
  border: 4px solid #eee;
  display: block;
  border-radius: 10px;
  z-index: 999;
  visibility: visible !important;
}


.st-standby {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 0s, opacity 1s linear;
}

.st-standby.fade {
  visibility: hidden;
  opacity: 0.35;
  transition: visibility 0s 1s, opacity 1s linear;
}

.st-standby.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 0s, opacity 1s linear;
}

.st-container__menu-toggle {
  width: 70px;
  height: 70px;
  cursor: pointer;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: visible !important;
}

.st-container__menu-toggle div {
  width: 42px;
  height: 4px;
  background: #eee;
  margin: 3px 0;
  transition: all 0.3s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.st-container__menu-toggle.show .st-toggle__bar_one {
  transform: rotate(45deg) translate(7px, 5px);
}

.st-container__menu-toggle.show .st-toggle__bar_two {
  opacity: 0;
}

.st-container__menu-toggle.show .st-toggle__bar_three {
  transform: rotate(-45deg) translate(8px, -8px);
}

.st-container__main-menu {
  width: 0;
  position: fixed;
  z-index: 1;
  top: 20%;
  right: -2px;
  background: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: all ease 0.5s;
  color: white;
  border-radius: 10px 0 0 10px;
  border: 2px solid #eee;
  border-right: 0;
  visibility: visible;
}

.st-container__main-menu.show {
  width: 180px;
  right: 0;
}

.st-container__main-menu > ul {
  padding: 15px;
  margin: 0;
  list-style: none;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.st-container__main-menu a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.st-container__main-menu a:hover, :focus, :active {
  text-decoration: none;
}

.st-container__main-menu > ul > li {
  max-width: 50%;
}
.st-container__main-menu > ul > li:first-child {
  margin-bottom: 20px;
}

.st-container__main-menu li img {
  margin-bottom: 10px;
  width: 100%;
}

.st-container__main-menu li span {
  color: var(--color-text);
}
.st-container__main-menu > ul > li:last-child {
  border: 0;
}
